server:
  port: 8082

spring:
  application:
    name: rag-inference

  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB

logging:
  level:
    anthony.raginference: debug

  file:
    name: ./logs/application.log

  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 7
      total-size-cap: 1GB